/* universal selector */
/* 全域選擇器 */

/* * {
    color: green
} */

/* element selector */

p {
    color:rgb(167, 233, 167);
}

/* id selector */

#redText {
    color:red
}

/* class selector */

.blueText {
    color:blue;
}

.largeText {
    font-size: 3rem;
}